@use '../1-base/variables'
@use '../1-base/base-mixin'

ul
    display: flex
    flex-direction: column
    margin-bottom: 1.2rem
        
    div.divLi 
        margin-top: 20px
        padding: 10px
        background: lightgray
        border-radius: 10pxls
        box-shadow: 6px 5px 10px 0px grey
        display: flex
        align-items: center

                    
        span
            width: 80%
            color: dimgray

        input
            width: 10%
            outline: none
            accent-color: currentcolor
            
            
    
    



